[crate_name_overrides]
"web_kit2" = "webkit2"

[options]
girs_directories = ["gir-files"]
library = "WebKit2"
version = "4.0"
work_mode = "normal"
target_path = "."
generate_safety_asserts = true
single_version_file = true

external_libraries = [
    "Gio",
    "Gtk",
    "JavaScriptCore",
    "Soup",
]

generate = [
    "WebKit2.AuthenticationScheme",
    "WebKit2.AutomationBrowsingContextPresentation",
    "WebKit2.AutoplayPolicy",
    "WebKit2.BackForwardList",
    "WebKit2.BackForwardListItem",
    "WebKit2.CacheModel",
    "WebKit2.ContextMenu",
    "WebKit2.ContextMenuAction",
    "WebKit2.ContextMenuItem",
    "WebKit2.CookieAcceptPolicy",
    "WebKit2.CookieManager",
    "WebKit2.CookiePersistentStorage",
    "WebKit2.CredentialPersistence",
    "WebKit2.DeviceInfoPermissionRequest",
    "WebKit2.DownloadError",
    "WebKit2.EditorState",
    "WebKit2.EditorTypingAttributes",
    "WebKit2.FaviconDatabase",
    "WebKit2.FaviconDatabaseError",
    "WebKit2.FileChooserRequest",
    "WebKit2.FindOptions",
    "WebKit2.GeolocationManager",
    "WebKit2.GeolocationPermissionRequest",
    "WebKit2.GeolocationPosition",
    "WebKit2.HardwareAccelerationPolicy",
    "WebKit2.HitTestResultContext",
    "WebKit2.InputHints",
    "WebKit2.InputPurpose",
    "WebKit2.InsecureContentEvent",
    "WebKit2.InstallMissingMediaPluginsPermissionRequest",
    "WebKit2.JavascriptError",
    "WebKit2.LoadEvent",
    "WebKit2.MediaCaptureState",
    "WebKit2.MediaKeySystemPermissionRequest",
    "WebKit2.MemoryPressureSettings",
    "WebKit2.MimeInfo",
    "WebKit2.NavigationPolicyDecision",
    "WebKit2.NavigationType",
    "WebKit2.NetworkError",
    "WebKit2.NetworkProxyMode",
    "WebKit2.Notification",
    "WebKit2.NotificationPermissionRequest",
    "WebKit2.OptionMenu",
    "WebKit2.PermissionRequest",
    "WebKit2.Plugin",
    "WebKit2.PluginError",
    "WebKit2.PointerLockPermissionRequest",
    "WebKit2.PolicyDecision",
    "WebKit2.PolicyDecisionType",
    "WebKit2.PolicyError",
    "WebKit2.PrintError",
    "WebKit2.PrintOperationResponse",
    "WebKit2.ProcessModel",
    "WebKit2.ResponsePolicyDecision",
    "WebKit2.SaveMode",
    "WebKit2.ScriptDialogType",
    "WebKit2.SecurityManager",
    "WebKit2.SnapshotError",
    "WebKit2.SnapshotOptions",
    "WebKit2.SnapshotRegion",
    "WebKit2.TLSErrorsPolicy",
    "WebKit2.URISchemeRequestCallback",
    # "WebKit2.UserContentFilter",
    "WebKit2.UserContentFilterError",
    # "WebKit2.UserContentFilterStore",
    "WebKit2.UserContentInjectedFrames",
    "WebKit2.UserContentManager",
    "WebKit2.UserMediaPermissionRequest",
    "WebKit2.UserMessageError",
    "WebKit2.UserScriptInjectionTime",
    "WebKit2.UserStyleLevel",
    "WebKit2.WebInspector",
    "WebKit2.WebProcessTerminationReason",
    "WebKit2.WebResource",
    "WebKit2.WebViewBase",
    "WebKit2.WebsiteDataAccessPermissionRequest",
    "WebKit2.WebsiteDataTypes",

]

manual = [
    "cairo.Surface",
    "Gdk.Event",
    "Gdk.EventKey",
    "Gdk.Rectangle",
    "Gdk.RGBA",
    "Gio.Action",
    "Gio.AsyncReadyCallback",
    "Gio.AsyncResult",
    "Gio.Cancellable",
    "Gio.File",
    "Gio.InputStream",
    "Gio.TlsCertificate",
    "Gio.TlsCertificateFlags",
    "Gio.TlsPasswordFlags",
    "Gio.UnixFDList",
    "GLib.Bytes",
    "GLib.DateTime",
    "GLib.DestroyNotify",
    "GLib.Error",
    "GLib.List",
    "GLib.Quark",
    "GLib.TimeSpan",
    "GLib.Variant",
    "GObject.Object",
    "Gtk.Action",
    "Gtk.Buildable",
    "Gtk.Container",
    "Gtk.FileFilter",
    "Gtk.PageSetup",
    "Gtk.PrintSettings",
    "Gtk.Widget",
    "Gtk.Window",
    "Soup.Cookie",
    "Soup.MessageHeaders",
    "WebKit2.Credential",
    "WebKit2.JavascriptResult",
]


[[object]]
name = "WebKit2.ApplicationInfo"
status = "generate"
version = "2.18"

[[object]]
name = "WebKit2.AuthenticationRequest"
status = "generate"
    [[object.function]]
    name = "authenticate"
    ignore = true

[[object]]
name = "WebKit2.AutomationSession"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.ColorChooserRequest"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.Download"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.FindController"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.FormSubmissionRequest"
status = "generate"
    [[object.function]]
    name = "list_text_fields"
    # Fails to get generated as some how glib::GString doesn't get added
    ignore = true

[[object]]
name = "WebKit2.HitTestResult"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.InputMethodContext"
status = "generate"
version = "2.28"

[[object]]
name = "WebKit2.InputMethodUnderline"
status = "generate"
version = "2.28"

[[object]]
name = "WebKit2.ITPFirstParty"
status = "generate"
version = "2.30"

[[object]]
name = "WebKit2.ITPThirdParty"
status = "generate"
version = "2.30"

[[object]]
name = "WebKit2.NavigationAction"
status = "generate"
version = "2.6"
    [[object.function]]
    name = "get_modifiers"
        [[object.function.parameter]]
        name = "navigation"
        const = true
    [[object.function]]
    name = "get_mouse_button"
        [[object.function.parameter]]
        name = "navigation"
        const = true
    [[object.function]]
    name = "get_navigation_type"
        [[object.function.parameter]]
        name = "navigation"
        const = true
    [[object.function]]
    name = "get_request"
        [[object.function.parameter]]
        name = "navigation"
        const = true
    [[object.function]]
    name = "is_user_gesture"
        [[object.function.parameter]]
        name = "navigation"
        const = true


[[object]]
name = "WebKit2.NetworkProxySettings"
status = "generate"
version = "2.16"

[[object]]
name = "WebKit2.OptionMenuItem"
status = "generate"
version = "2.18"

[[object]]
name = "WebKit2.PrintCustomWidget"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.PrintOperation"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.Settings"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.UserMessage"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.UserScript"
status = "generate"
version = "2.6"

[[object]]
name = "WebKit2.UserStyleSheet"
status = "generate"
version = "2.6"

[[object]]
name = "WebKit2.URISchemeRequest"
status = "generate"
module_name = "uri_scheme_request"

[[object]]
name = "WebKit2.URISchemeResponse"
status = "generate"
generate_builder = true
module_name = "uri_scheme_response"

[[object]]
name = "WebKit2.URIRequest"
status = "generate"
generate_builder = true
module_name = "uri_request"

[[object]]
name = "WebKit2.URIResponse"
status = "generate"
module_name = "uri_response"

[[object]]
name = "WebKit2.SecurityOrigin"
status = "generate"
version = "2.16"

[[object]]
name = "WebKit2.ScriptDialog"
status = "generate"
version = "2.24"

[[object]]
name = "WebKit2.WebContext"
status = "generate"
generate_builder = true
    [[object.function]]
    name = "set_network_proxy_settings"
    ignore = true

[[object]]
name = "WebKit2.WebsiteData"
status = "generate"
version = "2.16"

[[object]]
name = "WebKit2.WebsiteDataManager"
status = "generate"
generate_builder = true
    [[object.function]]
    name = "clear"
    manual = true

    [[object.function]]
    name = "remove"
    manual = true

[[object]]
name = "WebKit2.WebsitePolicies"
status = "generate"
generate_builder = true

[[object]]
name = "WebKit2.WebView"
status = "generate"
generate_builder = true
    [[object.signal]]
    name = "create"
    version = "2.6"
        [object.signal.return]
        nullable = true
    [[object.signal]]
    name = "script-dialog"
    version = "2.24"

[[object]]
name = "WebKit2.WebViewSessionState"
status = "generate"
version = "2.12"

[[object]]
name = "WebKit2.WindowProperties"
status = "generate"
generate_builder = true
